a,a:hover{
  text-decoration: none !important;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

.user {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #b3e3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 300px;
  margin: 20px;
}

.paginationBttns {
  /* width: 80%; */
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px 15px !important;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
  display: inline-block;
}

.paginationBttns a:hover {
  color: white !important;
  background-color: #2b2eff;
}

.paginationActive a {
  color: white !important;
  background-color: #2b2eff;
}

.paginationDisabled a {
  color: White;
  background-color: grey;
  border-color: gray !important;
}
.paginationDisabled a:hover{
  background-color: gray !important;
  cursor: not-allowed;
}
table{
  height: 500px !important;
}
table>tbody>tr{
  height: 100px !important;
  overflow: hidden;
}
th.title{
  width: 250px !important;
}